.clients_section {
  margin-top: 145px;

  .container {
    .header {
      width: 100%;

      h2 {
        width: 100%;
        font-size: 106px;
        font-weight: 100;
        margin-left: 15px;

        .hide {
          font-size: 90px;
        }
      }

      h2:hover .show {
        display: none;
      }

      h2:hover .hide {
        display: inline;
      }
    }

    .clients_body {
      width: 100%;
      height: 400px;
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .clients_body-names {
        width: 43%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        list-style-type: none;

        .client {
          width: 100%;
          padding: 20px 0;
          border-bottom: 1px solid #f60032;
          text-align: center;

          span {
            font-size: 22px;
            font-weight: 300;
            font-family: "Rubik", sans-serif;
            color: #707070;
            transition: all 0.5s ease-in-out;

            a {
              transition: all 0.5s ease-in-out;
              color: #707070;
            }
          }

          span:hover {
            color: #f60032;
            font-size: 26px;
          }

          span:hover a {
            color: #f60032;
            font-size: 26px;
          }
        }

        #client-3 {
          display: none;
        }

        #client-6 {
          display: none;
        }

        .hovered_client {
          span {
            color: #f60032 !important;
            font-size: 26px !important;
          }

          span a {
            color: #f60032 !important;
            font-size: 26px !important;
          }
        }
      }

      .clients_body-comments {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .comments_1,
        .comments_2 {
          position: relative;
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;

          .comment {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            position: relative;
            overflow: hidden;

            span {
              width: 100%;
              height: 100%;
              position: absolute;
              bottom: -100%;
              color: #fff;
              text-align: justify;
              z-index: 9999;
              font-size: 15px;
              padding: 0 10px;
              font-weight: 400;
              transition: all 0.5s ease-in-out;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .comment::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #242424d5;
            opacity: 0;
            transition: all .5s ease-in-out;
          }

          .comment:hover {
            transform: scale(1.1);
            
            &::before {
              opacity: 1;
            }
            
            span {
              bottom: 0;
            }
          }

          .comment-1,
          .comment-2,
          .comment-3,
          .comment-4,
          .comment-5,
          .comment-6 {
            width: 95%;
            height: 40%;
            background-size: cover;
            background-position: center;
            transition: all 0.5s ease-in-out;
          }

          .comment-1 {
            background-image: url(../images/iys.png);
          }
          .comment-2 {
            background-image: url(../images/avlod21.uz.png);
          }
          .comment-3 {
            background-image: url(../images/avlod21.uz.png);
            display: none;
          }
          .comment-4 {
            background-image: url(../images/arch.png);
          }
          .comment-5 {
            background-image: url(../images/nektar.png);
          }
          .comment-6 {
            background-image: url(../images/avlod21.uz.png);
            display: none;
          }

          .hovered_comment {
            transform: scale(1.1);
            
            &::before {
              opacity: 1;
            }
            
            span {
              bottom: 0;
            }
          }
        }

        .comments_2 {
          align-items: flex-end;
        }
      }
    }
  }
}
