.footer {
    margin-top: 110px;
    margin-bottom: 45px;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        a {
            font-size: 25px;
            font-weight: 100;
            color: #07080C;
        }

        a:first-child {
            margin-right: 50px;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}