@media (max-width: 767px) {
  .fixed_nav {
    display: none;
  }

  #top_navbar {
    margin-top: 0;
  }

  .main_header {
    width: 100%;
    height: 250px;

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .main_header-img-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
          visibility: hidden;
          width: 40%;
        }
      }

      .main_header-animated-header-box {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;

        h1 {
          width: 100%;
          text-align: center;
          font-family: "Rubik", sans-serif;
          font-weight: 500;
          font-size: 13px;
          letter-spacing: 1px;
          z-index: 9999;
        }

        .animation {
          width: 100%;
          height: 30px;
          position: absolute;
          top: -5px;
          left: 10px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-right: 30px;

          .animation_div {
            width: 50%;
            height: 30%;
            background-color: #f52929;
            margin-right: 10px;
            transition: all 0.4s ease-in-out;
          }

          .bar-1 {
            height: 0%;
            align-self: flex-end;
          }

          .bar-2 {
            height: 0%;
            align-self: center;
          }

          .bar-3 {
            height: 0%;
            align-self: flex-start;
          }
        }
      }

      .main_header-paragraph {
        width: 95%;

        p {
          font-family: "gilroylight";
          font-weight: normal;
          font-size: 11px;
          text-align: justify;
          margin-bottom: 10px;
          margin-top: 10px;
          line-height: 25px;
        }
      }
    }
  }

  .triangle-box {
    width: 100%;
    margin-top: 100px;

    .container {
      display: flex;
      justify-content: center;

      .triangle {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 30px solid #000;
        transition: all 0.5s ease-in-out;
      }

      .triangle:hover {
        transform: rotate(180deg);
        border-bottom: 30px solid #f52929;
      }
    }
  }

  .digital_strategy {
    margin-top: 150px;
    height: 400px;
    font-family: "gilroylight", sans-serif;

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;

      .digital_str_img {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .box-top {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-end;

          .img-box {
            width: 40%;
            height: 75%;
            transition: all 0.5s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
              font-family: "gilroylight";
              font-weight: 100;
              font-size: 60px;
              transition: all 0.5s ease-out;
            }
          }

          .box_1 {
            background-image: url(../images/web_design.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(100%);
          }

          .box_2 {
            background-image: url(../images/grphic_design.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(100%);
          }

          .box_1:hover,
          .box_2:hover {
            filter: grayscale(0%);
          }

          .img-box:hover {
            width: 50%;
            height: 90%;
            cursor: pointer;

            h2 {
              font-size: 90px;
              color: #f52929;
            }
          }
        }

        .box-bottom {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;

          .img-box {
            width: 40%;
            height: 75%;
            transition: all 0.5s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
              font-family: "gilroylight";
              font-weight: 100;
              font-size: 60px;
              transition: all 0.5s ease-out;
            }
          }

          .box_3 {
            background-image: url(../images/web_development.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(100%);
          }

          .box_4 {
            background-image: url(../images/mobile_app_dev.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(100%);
          }

          .box_3:hover,
          .box_4:hover {
            filter: grayscale(0%);
          }

          .img-box:hover {
            width: 50%;
            height: 90%;
            cursor: pointer;

            h2 {
              font-size: 90px;
              color: #f52929;
            }
          }
        }
      }

      .digital_headers {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .animated_header {
          width: 100%;
          height: 40%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          .animation {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .animation_div {
              height: 100%;
              width: 15%;
              background-color: #f6dd00;
            }

            .box_1 {
              height: 0%;
              align-self: flex-start;
              transition: all 0.5s ease-in-out;
            }

            .box_2 {
              height: 0%;
              align-self: flex-end;
              transition: all 0.5s ease-in-out;
            }

            .box_3 {
              height: 0%;
              align-self: flex-start;
              transition: all 0.5s ease-in-out;
            }
          }

          h2 {
            width: 100%;
            font-size: 31px;
            font-weight: 100;
            font-family: "gilroylight", sans-serif;
            color: #07080c;
            z-index: 9999;
          }
        }

        .animated_header:hover .box_1 {
          height: 75%;
        }
        .animated_header:hover .box_2 {
          height: 60%;
        }
        .animated_header:hover .box_3 {
          height: 65%;
        }

        .image_caption {
          width: 100%;
          padding: 20px 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-content: center;
          border-bottom: 1px solid #f60032;

          h2 {
            font-size: 16px;
            font-weight: 100;
            color: #07080c;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
          }

          img {
            height: 22px;
            transform: rotate(90deg);
            transition: all 0.5s ease-in-out;
          }
        }

        .image_caption:hover h2 {
          font-size: 17px;
          color: #f52929;
        }

        .image_caption:hover img {
          height: 27px;
        }
      }
    }
  }

  .digital_production {
    margin-top: 100px;
    height: 400px;
    font-family: "gilroylight", sans-serif;

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .digital_str_img {
        width: 45%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .box-top {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-end;

          .img-box {
            width: 40%;
            height: 75%;
            transition: all 0.5s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
              font-family: "gilroylight";
              font-weight: 100;
              font-size: 60px;
              transition: all 0.5s ease-out;
            }
          }

          .box_1 {
            background-image: url(../images/ranking.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(100%);
          }

          .box_2 {
            background-image: url(../images/public_relations.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(100%);
          }

          .box_1:hover,
          .box_2:hover {
            filter: grayscale(0%);
          }

          .img-box:hover {
            width: 50%;
            height: 90%;
            cursor: pointer;

            h2 {
              font-size: 90px;
              color: #f52929;
            }
          }
        }

        .box-bottom {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;

          .img-box {
            width: 40%;
            height: 75%;
            transition: all 0.5s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
              font-family: "gilroylight";
              font-weight: 100;
              font-size: 60px;
              transition: all 0.5s ease-out;
            }
          }

          .box_3 {
            background-image: url(../images/search_engine_optimization.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(100%);
          }

          .box_4 {
            background-image: url(../images/social_media_marketing.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(100%);
          }

          .box_3:hover,
          .box_4:hover {
            filter: grayscale(0%);
          }

          .img-box:hover {
            width: 50%;
            height: 90%;
            cursor: pointer;

            h2 {
              font-size: 90px;
              color: #f52929;
            }
          }
        }
      }

      .digital_headers {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .animated_header {
          width: 100%;
          height: 40%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          .animation {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .animation_div {
              height: 100%;
              width: 15%;
              background-color: #5158be;
            }

            .box_1 {
              height: 0%;
              align-self: flex-start;
              transition: all 0.5s ease-in-out;
            }

            .box_2 {
              height: 0%;
              align-self: flex-end;
              transition: all 0.5s ease-in-out;
            }

            .box_3 {
              height: 0%;
              align-self: flex-start;
              transition: all 0.5s ease-in-out;
            }
          }

          h2 {
            font-size: 66px;
            font-weight: 100;
            font-family: "gilroylight", sans-serif;
            color: #07080c;
            z-index: 9999;
          }
        }

        .animated_header:hover .box_1 {
          height: 75%;
        }
        .animated_header:hover .box_2 {
          height: 60%;
        }
        .animated_header:hover .box_3 {
          height: 65%;
        }

        .image_caption {
          width: 100%;
          height: 14%;
          padding: 10px 20px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-content: center;
          border-bottom: 1px solid #f60032;

          h2 {
            font-size: 28px;
            font-weight: 100;
            color: #07080c;
            transition: all 0.5s ease-in-out;
            cursor: pointer;
          }

          img {
            height: 30px;
            transform: rotate(90deg);
            transition: all 0.5s ease-in-out;
          }
        }

        .image_caption:hover h2 {
          font-size: 31px;
          color: #f52929;
        }

        .image_caption:hover img {
          height: 33px;
        }
      }
    }
  }
}
